<style>
.footerDos {
  text-align: center;
  display: block;
  margin-bottom: 5%;
}

.follow li {
  text-align: center;
  list-style: none;
  display: inline;
}

.social-icon {
  padding-left: 5%;
}

#findMe {
  margin-left: 10%;
}

</style>


<div class="footerDos">
  <!-- <p id="findMe"><<< Finde me here <i class="fa fa-hand-o-down" aria-hidden="true"></i> >>></p> -->
  <ul class="follow">
    {% if site.github_username %}
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}
  </ul>
</div>
