<style>
.footerDos {
  text-align: center;
  display: block;
}

.follow li {
  text-align: center;
  list-style: none;
  display: inline;
}

.social-icon {
  padding-left: 0%;
}

</style>


<div class="footerDos">
  <ul class="follow">
    {% if site.github_username %}
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}
  </ul>
</div>
